.produtos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.produtos-container > div > h1 {
	margin: 0px;
	font-size: 29px;
}

.itens-container {
	display: flex;
	justify-content: center;
}

.planos-tabs {
	display: flex;
	flex-direction: row;
	margin-top: 3rem;
	font-size: 20px;
	font-family: 'Exo', sans-serif;
	font-weight: 800;
	color: #004aad;
	text-shadow: 1px 1px rgba(131, 131, 131, 0.217);
	border: none;
    width: 73.1%;
}

.planos-tabs .nav-link {
	width: 50%;
}

.planos-tabs .nav-link.active {
	border: 1px solid #231f20;
	background-color: transparent;
	color: #004aad;
	text-shadow: 1px 1px rgba(131, 131, 131, 0.217);
}

.tab-content {
	border: 1px solid #231f20;
	background-color: #231f2021;
	border-radius: 10px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
}

.produtos-card {
  background-color: #fff;
  border-radius: 5px;
  min-height: 460px;
  width: 250px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  box-shadow: 0px 3px 6px #00000029;
  padding: 5px 10px;
  word-wrap: break-word;
  text-align: left;
}

.produtos-card.active {
	border: 2px solid #004aad;
}

.produtos-card div:first-child img {
  width: 70px;
  margin-bottom: 20px;
}

.produtos-card h1,
.produtos-card h2,
.produtos-card a {
  font-weight: 100;
  margin: 0;
  color: #940bce;
}

.produtos-card a:hover {
  color: #6f069c;
  font-weight: bold;
}

.produtos-card h1 {
  font-size: 20px;
}

.produtos-card h2 {
  font-size: 18px;
}

.produtos-card div:last-child {
  margin-top: auto;
}

@media (max-width: 840px) {


  .itens-container {
    flex-direction: column;
  }

  .tab-content {
	max-width: 100%;
  }

  .planos-tabs {
	width: 100%;
  }	

}
