.produtos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.produtos-container > div:first-child {
	margin: 70px 0 40px 0;
}

.produtos-container > div > h1 {
	margin: 20px;
	font-size: 35px;
}

.carousel .slide {
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent !important;
	padding: 0 1px !important;
}

.carousel .control-dots .dot {
	background: #1a1d36 !important;
	height: 15px !important;
	width: 15px !important;
}

.slider-container .control-dots {
	padding: 0 !important;
}


.itens-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.produtos-card {
	background-color: #fff;
	border-radius: 5px;
	min-height: 360px;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 10px 0 60px 0;
	box-shadow: 0px 3px 6px #00000029;
	padding: 5px 10px;
	word-wrap: break-word;
	text-align: left;
}

.produtos-card.active {
	border: 2px solid #004aad;
}

.produtos-card div:first-child img {
	width: 70px;
	margin-bottom: 20px;
}

.produtos-card h1,
.produtos-card h2,
.produtos-card a {
	font-weight: 400;
	margin: 0;
	color: #231f20;
	text-shadow: none !important;
	font-family: 'Lato', sans-serif !important;
}

.produtos-card div:nth-child(3) {
	margin-top: 20px;
}

.produtos-card div:last-child {
	text-align: center;
	font-size: 25px;
}

.produtos-card a:hover {
	font-weight: bold;
	text-decoration: none;
}

.produtos-card h1 {
	text-align: center;
	margin-bottom: 1em;
	font-size: 40px;
	font-weight: bold;
}

.produtos-card h2 {
	font-size: 18px;
}

.produtos-card div:last-child {
	margin-top: auto;
}

@media (max-width: 840px) {


  .itens-container {
		flex-direction: column;
  }

  .tab-content {
		max-width: 100%;
  }

  .planos-tabs {
		width: 100%;
  }	

}
