.first-container {
	margin: 10% 0 5% 2%;
}

.first-container img {
	width: 90%;
}


.home-image-container img {
	width: 600px;
}


@media (max-width: 840px) {

	.home-container {
		margin: 0;
	}



	.first-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 15% 0 0 0;
	}
	

	.home-container h1 {
		font-size: 55px;
	}

	.home-container h2 {
		font-size: 35px;
	}

	.home-image-container img {
		width: 80%;
	}
}