.header-container {
  width: 100%;
  height: 80px;
  /* position: fixed; */
  background-color: #f6f6f6;
  box-shadow: 0px 3px 6px #00000029;
}

.nav-logo {
  display: flex;
  justify-content: space-between !important;
  align-items: flex-end;
  height: var(--header-height);
  display: flex;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  margin-left: auto;
  margin-right: auto;
  min-height: auto !important;
}

.nav-logo button {
  background-color: #fff;
  border: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 20px;
  text-align: center;
  color: #727272;
  font-weight: 100;
  font-style: italic;
  width: 130px;
  height: 35px;
  padding: 0;
  box-shadow: 0px 3px 6px #00000029;
  font-family: "Segoe UI";
}

.nav-logo button:hover,
.nav-logo .active {
  background-color: #c9c9c9;
  color: #940bce;
  transition: 0.8s;
}

@media (max-width: 840px) {
  .nav-logo {
    align-items: center;
    justify-content: space-between !important;
    flex-direction: column;
  }

  .nav-logo button {
    width: 100px;
    margin: 0 5px;
  }
}
